@using Microsoft.AspNetCore.Components.Routing
@using app_web_net.Pages
@using app_web_net.Pages.Shared
@using app_web_net.ViewModels

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(LayoutGlobal)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(LayoutGlobal)">
            <p>Page non trouvée.</p>
        </LayoutView>
    </NotFound>
</Router>